<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/schedule.css">
    <title>Edit User</title>
</head>
<body>
       <h3>Edit Users</h3>
                <thead>
                   <tr>
                      <form action="/profiles/<%= profile._id %> ?_method=PUT" method="POST">
                        <th>Name ▼</th>
                        <br>
                        <input type="text" name="name" autofocus="autofocus" placeholder="First & Last Name" />
                        <br>
                      <th>Email ▼</th>
                      <br>
                      <input type="text" name="email" class="invalid" placeholder="yourEmail@example.com" />
                      <th>&nbsp;</th>
                     </tr>
                     <br>
                   <input type="checkbox" name>
                   <button type="submit">Add</button>
                  </thead>
                  </form>
               
     </body>
</body>
</html>