<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..public/stylesheets/schedule.css">
    <title>Document</title>
</head>
<body>


       <h3>Add Users</h3>

       
                <thead>
                   <tr>
                      <th>Name</th>
                      <th>Email</th>
                      <th>&nbsp;</th>
                   </tr>
                </thead>
            <form action="profiles" method="POST">
                   <input type="text" id="name" autofocus="autofocus" placeholder="First & Last Name" />
                   <input type="text" id="email" class="invalid" placeholder="yourEmail@example.com" />
                   <button type="button" class="btn btn-info btn-sm" id="add">Add</button>
                </form>
          </div>
       </div>
       
       
<style>
label {
        display:block;
        font: 1rem 'Fira Sans', sans-serif;
    }
    
    input,
    label {
        margin: .4rem 0;
    }
</style>
</body>
</html>