<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/schedule.css">
    <title>Add User</title>
</head>
<body>
       <h3>Add Users</h3>
                <thead>
                   <tr>
                      <th>Name</th>
                      <th>Email</th>
                      <th>&nbsp;</th>
                   </tr>
                </thead>
            <form action="/profiles" method="POST">
                   <input type="text" name="name" autofocus="autofocus" placeholder="First & Last Name" />
                   <input type="text" name="email" class="invalid" placeholder="yourEmail@example.com" />
                   <input type="checkbox" name="working">
                   <button type="submit">Add</button>
                  </form>
               
     </body>
</body>
</html>