<!doctype html>
<head>
    <meta content="text/html; charset=utf-8">
    <script src="codebase/dhtmlxscheduler.js" ></script>
    <link rel="stylesheet" href="codebase/dhtmlxscheduler.css">
    <style type="text/css" media="screen">
        html, body{
            margin:0px;
            padding:0px;
            height:100%;
            overflow:hidden;
        }  
    </style>
</head>

<input type="text" name="daterange" value="01/01/2018 - 01/15/2018" />

<span class="datePickerSpan">Hello picker</span>
<script type="text/javascript" charset="utf-8">
   $(function () {
  $('input[name="daterange"], span').daterangepicker(
    {
      opens: "right",
      //maxDate: moment(),
      isCustomDate: function (arr1) {
        $("td").on("click", () => {
          console.log(arr1);
        });
      }
    },
    function (start, end, label) {
      console.log(
        "A new date selection was made: " +
          start.format("YYYY-MM-DD") +
          " to " +
          end.format("YYYY-MM-DD")
      );

      let startDate = start.format("YYYY-MM-DD"),
        endDate = end.format("YYYY-MM-DD");

      $(".date-from").html(startDate);
      $(".date-to").html(endDate);

      //$('.daterangepicker td.off').addClass('hello-world');
    }
  );

  $(".datePickerSpan").on("show.daterangepicker", function (ev, picker) {
    //do something
    if ($(".date-header").length < 1) {
      $(".daterangepicker").prepend(`
      <div class="date-header">
        <div class="date-from-area">
          <span>From </span>
          <span class="date-from"></span>
        </div>
        <div class="date-to-area">
          <span>To </span>
          <span class="date-to"></span>
        </div>
      </div>
  `);
    }
    console.log(ev, picker);
  });
  //$('#daterange').data('daterangepicker').setStartDate('03/01/2014');

  $(document).on("click", ".calendar-table td", function () {
    let h = $("span").data("daterangepicker").getStartDate();

    console.log(h);
  });
});

</script>

<body onload="init();">
    <div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100%;'>
        <div class="dhx_cal_navline">
            <div class="dhx_cal_prev_button">&nbsp;</div>
            <div class="dhx_cal_next_button">&nbsp;</div>
            <div class="dhx_cal_today_button"></div>
            <div class="dhx_cal_date"></div>
            <div class="dhx_cal_tab" name="day_tab"></div>
            <div class="dhx_cal_tab" name="week_tab"></div>
            <div class="dhx_cal_tab" name="month_tab"></div>
        </div>
        <div class="dhx_cal_header">
        </div>
        <div class="dhx_cal_data">
        </div>
    </div>
</body>
