<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule View</title>
</head>
<body>
    <h1>Look at the Schedule</h1>
    <label for="start">working days from:</label>
    <form action="/schedules" method="POST">
<input  type="date" id="start" name="trip-start"
       value="2021-07-29"
       min="2021-01-01" max="2022-12-31">
       <br>
    <label for="start">To:</label>

<input type="date" id="start" name="trip-start"
       value="2021-07-29"
       min="2021-01-01" max="2022-12-31">
       <br>
    
        <label for="startWork">Start Work: </label>
        <input type="time" id="startTime">
        <br>
        <label for="startWork">End Work: </label>
        <input type="time" id="endWork">
        <button type="submit">Add</button>
        <br>
            <label for="cars">Choose a car:</label>
            <select name="profiles" id="cars">
              <option value="<%= profile.name %> ">Audi</option>
            </select>
            <br><br>
            <input type="submit" value="Submit">
      </form>

</body>
</html>